/* Styles */
/* Page Defults */
html{
	height: 100%;
  margin-top: 0 !important;
}
body{
	text-align:center;
	padding:0 0px;
	height:100%;
}

.placeholder { color: #aaa; }

#cspio-page{
	padding-top:60px;
	padding-bottom:0px;
	padding-left:10px;
	padding-right:10px;
 	min-height: 100%;
}

.flexbox #cspio-page{
	display:flex;
	padding:10px;
}

.flexbox #cspio-content{
	margin:0;
}

/* Margins */
#cspio-description,#cspio-logo, #cspio-socialprofiles,#cspio-privacy-policy-txt, #cspio-headline,#cspio-progressbar,#cspio-countdown,#cspio-thankyoumsg,#cspio-sharebuttons,#cspio-afterform{
	margin-bottom:30px;
}

/* Responsive Images */
#cspio-description img,#cspio-thankyoumsg img, #cspio-logo{
	max-width:100%;
	height:auto;
}

/* Content Elements */
#cspio-content{
	width:100%;
	padding:30px;
	margin:0 auto;
}

#cspio-content ul {
	list-style-position: inside;
	padding-left: 0px;
}

#cspio-headline{
	margin-top:0;
}

#cspio-name, #cspio-email, #cspio-subscribe-btn{
	margin-bottom:10px;
}

#cspio-field-wrapper{
  margin-left:auto;
  margin-right:auto;
}

.form-el{
	border-color: transparent !important;
}

.noglow {
  outline: none !important;
}


.seperate #cspio-subscribe-btn{
	margin-left:10px;
}

.cspio .seperate .input-group .form-control:first-child, .cspio .seperate .input-group-addon:first-child, .cspio .seperate .input-group-btn:first-child>.btn, .cspio .seperate .input-group-btn:first-child>.dropdown-toggle, .cspio .seperate .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.cspio .seperate .input-group .form-control:last-child, .cspio .seperate .input-group-addon:last-child, .cspio .seperate .input-group-btn:last-child>.btn, .cspio .seperate .input-group-btn:last-child>.dropdown-toggle, .cspio .seperate .input-group-btn:first-child>.btn:not(:first-child) {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.input-group-btn .btn{
	padding-bottom:11px;
}

#cspio-privacy-policy-txt{
	display:inline-block;
	font-size:11px;
}

#cspio-ref-out{
	color:#555;
}

/* Share Buttons */
#cspio-sharebuttons{
 	padding:0;
 	line-height: 0 !important;
}

#cspio-sharebuttons span{
	line-height: 0 !important;
}

#cspio-sharebuttons li{
	display:inline-block;
	vertical-align:top;
	overflow: hidden;
	padding: 0 5px;
}

#share_facebook{
	width: 65px;
}

#share_facebook_send{
	margin-left:7px ;
	margin-right: 4px;
}

#share_googleplus{
	width: 45px;
}

#share_pinterest{
	width: 50px;
}

.fb-share-button span{
	vertical-align: top;
}

/* Social Profiles */
#cspio-socialprofiles a{
	padding-right:7px;
	display:inline-block;
}

/* CountDown */
.countdown_section{
	display:inline-block;
	padding:10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin:0 5px 10px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	min-width:80px;
}

.countdown_amount{
	font-size:24px;
}

/* Footer Credit */
#cspio-credit{
	font-size:10px;
	position: fixed;
	bottom:0;
	right:20px;
	background-color: rgba(0,0,0,0.8);
	padding:7px;
	border-radius:2px;
	line-height: 1;
	color: #fff;
}
#cspio-credit a{
	color: #fff;
}

#cspio-credit img {
    margin-left: -6px;
    margin-right: auto;
    width: 125px;
    margin-top: -4px;
    vertical-align: middle;
}



/* Mobile */
@media (max-width: 480px) {
	#cspio-page{
		padding-top: 10px;
	}
	.cspio .input-group-btn, .cspio .input-group{
		display:block;
		width:100%;
	}
	.cspio #cspio-subscribe-btn{
		margin-left:0;
		width:100%;
		display:block;
	}
	
	.cspio .input-group .form-control:first-child, .cspio .input-group-addon:first-child, .cspio .input-group-btn:first-child>.btn, .cspio .input-group-btn:first-child>.dropdown-toggle, .cspio .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
		border-bottom-right-radius: 4px;
		border-top-right-radius: 4px;
	}
	.cspio .input-group .form-control:last-child, .cspio .input-group-addon:last-child, .cspio .input-group-btn:last-child>.btn, .cspio .input-group-btn:last-child>.dropdown-toggle, .cspio .input-group-btn:first-child>.btn:not(:first-child) {
		border-bottom-left-radius: 4px;
		border-top-left-radius: 4px;
	}
	.countdown_section{
		margin-bottom: 10px !important;
	}
	
	#cspio-field-wrapper{
	  width:100%;
	}

	#cspio-credit{
		position:static;
		margin-top:20px;
	}

	.flexbox #cspio-page{
	display:flex;
	padding:10px;
	flex-direction: column;
	}
}



html {
	height: 100%;
	overflow: hidden;
}

body {
	height:100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

html{
	height:100%;
	background: #ffffff url('../img/background.jpg') no-repeat center bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#cspio-page{
	background-color: rgba(0,0,0,0);
}

.flexbox #cspio-page{
	align-items: center;
	justify-content: center;
}

.cspio body{
	background: transparent;
}

.cspio body, .cspio body p{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.50em;
    color:#ffffff;
}

#cspio-content {
	display: none;
	max-width: 600px;
	background-color: #000000;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color:transparent;
}

.cspio a, .cspio a:visited, .cspio a:hover, .cspio a:active{
	color: #ffffff;
}

#cspio-logo {
	margin-top: -100px;
	margin-bottom: -100px;
}

#cspio-headline {
    margin-top: 50px;
}

#cspio-headline{
	font-family: 'Pacifico';
	font-weight: 400;
	font-size: 48px;
	color: #89105F;
	line-height: 1.00em;
}

#cspio-page{
    background: -moz-radial-gradient(ellipse at center, rgba(255,255,255, 0.3) 0%,rgba(0, 0, 0, 0.2) 37%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 100%);
    background: -webkit-radial-gradient(ellipse at center, rgba(255,255,255, 0.3) 0%,rgba(0, 0, 0, 0.2) 37%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255, 0.3) 0%,rgba(0, 0, 0, 0.2) 37%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 100%);
}

#cspio-socialprofiles a {
  color: #89105F;
}
